services:
  vaultwarden:
    image: vaultwarden/server:1.35.2
    container_name: vaultwarden
    environment:
      ADMIN_TOKEN: "${VAULTWARDEN_ADMIN_TOKEN}"
    volumes:
      - /etc/bitwarden-data:/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bitwarden-router.rule=Host(`bitwarden.moser.ddnsfree.com`)"
      - "traefik.http.routers.bitwarden-router.entrypoints=websecure"
      - "traefik.http.routers.bitwarden-router.service=bitwarden-service"
      - "traefik.http.routers.bitwarden-router.tls=true"
      - "traefik.http.services.bitwarden-service.loadbalancer.server.port=80"
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    external: true


