services:
  vaultwarden:
    image: vaultwarden/server:1.35.2
    container_name: vaultwarden
    environment:
      ADMIN_TOKEN: "${VAULTWARDEN_ADMIN_TOKEN}"
    volumes:
      - /etc/bitwarden_data:/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bitwarden-router.rule=Host(`bitwarden.moser.ddnsfree.com`)"
      - "traefik.http.routers.bitwarden-router.entrypoints=websecure"
      - "traefik.http.routers.bitwarden-router.service=bitwarden-service"
      - "traefik.http.routers.bitwarden-router.tls=true"
      - "traefik.http.services.bitwarden-service.loadbalancer.server.port=80"
    restart: unless-stopped
    networks:
      - proxy
      
  vaultwarden-backup:
    image: ttionya/vaultwarden-backup:latest
    container_name: vaultwarden-backup
    restart: always
    depends_on:
      - vaultwarden
    environment:
      # rclone: Name & Zielverzeichnis (kannst du so übernehmen)
      RCLONE_REMOTE_NAME: "BitwardenBackup"
      RCLONE_REMOTE_DIR: "fritz.nas/Volume/Backup/Vaultwarden"

      # Zeitplan (Cron): täglich um 03:00 Uhr
      CRON: "0 3 * * *"

      # Zip-Optionen (optional, aber empfehlenswert)
      ZIP_ENABLE: "true"
      ZIP_PASSWORD: "${VAULTWARDEN_BACKUP_ZIP_PASSWORD}"
      ZIP_TYPE: "zip"
      BACKUP_FILE_SUFFIX: "%Y_%m_%d"

      # Aufbewahrung (0 = nicht löschen)
      BACKUP_KEEP_DAYS: "14"

      # Optional: Health-/Mail-Benachrichtigung (später ergänzbar)
      PING_URL_WHEN_SUCCESS: "https://hc-ping.com/340da70a-b6c1-431e-9ebc-c1e8a01cb837"
      # MAIL_SMTP_ENABLE: "FALSE"

      # Zeitzone (für Cron)
      TIMEZONE: "Europe/Vienna"
    # Wichtig: den Host-Pfad deiner Vaultwarden-Daten nach /bitwarden/data mounten
    volumes:
      - /etc/bitwarden_data:/bitwarden/data
      # rclone-Konfiguration (persistente Credentials)
      - vaultwarden-rclone-data:/config

volumes:
  vaultwarden-rclone-data:
    external: true
    name: vaultwarden-rclone-data

networks:
  proxy:
    external: true


