version: "3.9"

services:
  immich-backup:
    image: alpine:latest
    container_name: immich-backup
    environment:
      - VALIDATION_FACTOR=${VALIDATION_FACTOR}   # Prozent, z.B. 90 = 90%
      - HEALTH_CHECK_URL=${HEALTH_CHECK_URL}
    volumes:
      - /mnt/usb/Immich/data:/source:ro
      - /mnt/fritz-nas/Volume/Backup/Immich:/backup
    entrypoint: >
      /bin/sh -c "
      apk add --no-cache bash zip curl coreutils &&
      sleep 120
      
      

      echo 'Backup abgeschlossen.'
      tail -f /dev/null
      "
    restart: "no"
