services:
  traefik:
    image: traefik:v3.6.7
    ports:
      - "80:80"
      - "443:443"
    container_name: traefik
    environment:
      - DYNU_API_KEY=${DYNU_API_KEY}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/Cloud/Traefik/acme.json:/acme.json
      - /etc/Cloud/Traefik/traefik.yaml:/traefik.yaml:ro
    labels:
      - "traefik.enable=true"
      
      # Using variables for the Router Rule
      - "traefik.http.routers.traefik-router.rule=Host(`${DASHBOARD_SUBDOMAIN}.${DOMAIN_NAME}`)"
      
      # Using variables for TLS certificates
      - "traefik.http.routers.traefik-router.tls.domains[0].main=${DOMAIN_NAME}"
      - "traefik.http.routers.traefik-router.tls.domains[0].sans=*.${DOMAIN_NAME}"

      # Reference other settings
      - "traefik.http.routers.traefik-router.entrypoints=websecure"
      - "traefik.http.routers.traefik-router.service=api@internal"
      - "traefik.http.routers.traefik-router.tls.certresolver=letsencrypt"
      - "traefik.http.middlewares.traefik-auth.basicauth.users=${TRAEFIK_DASHBOARD_CREDENTIALS}"
      - "traefik.http.routers.traefik-router.middlewares=traefik-auth"
    restart: unless-stopped
    networks:
      - proxy

  traefik-backup:
    image: alpine:latest
    container_name: traefik-backup
    restart: "no"
    networks:
      - proxy
    environment:
      - HEALTH_CHECK_URL=${HEALTH_CHECK_URL}
      - SLEEP_SECONDS=10
      - RETENTION_DAYS=30
    labels:
      ofelia.enabled: "true"
      ofelia.job-run.traefik-daily-backup.schedule: "0 0 3 * * *"
      ofelia.job-run.traefik-daily-backup.container: "traefik-backup"
    volumes:
      - /etc/Cloud/Traefik:/source:ro
      - /mnt/fritz-nas/Backup/Traefik:/destination
    command: >
      sh -c "
        apk add --no-cache zip curl &&
        echo 'Waiting for NAS to wake up...' &&
        sleep $$SLEEP_SECONDS &&
        if [ -d '/destination' ] && [ -d '/source' ]; then
          FILENAME=backup.$(date +%Y_%m_%d).zip &&
          # -r: recursive
          # -F S: File Sync (Syncs the zip content with the source, overwriting old data)
          zip -rFS /destination/$$FILENAME /source &&
          if [ $$? -eq 0 ]; then
            echo 'Backup successful. Cleaning up old files...' &&
            find /destination -name 'backup.*.zip' -type f -mtime +$$RETENTION_DAYS -delete &&
            curl -m 10 --retry 5 $$HEALTH_CHECK_URL;
          else
            echo 'Error: Zip failed';
            exit 1;
          fi
        else
          echo 'Error: NAS or Source missing';
          exit 1;
        fi
      "  
      
networks:
  proxy:
    external: true
