services:
  evcc:
    image: evcc/evcc-unlocked:1.0.0
    ports:
      - "7070:7070"
    container_name: evcc
    volumes:
      - /etc/Cloud/EVCC:/root/.evcc
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.evcc-router.entrypoints=websecure"
      - "traefik.http.routers.evcc-router.rule=Host(`evcc.moser.ddnsfree.com`)"
      - "traefik.http.routers.evcc-router.service=evcc-service"
      - "traefik.http.routers.evcc-router.tls=true"
      - "traefik.http.services.evcc-service.loadbalancer.server.port=7070"
    restart: unless-stopped
    networks:
      - proxy

  evcc-backup:
    image: alpine:latest
    container_name: evcc-backup
    restart: "no"
    networks:
      - proxy
    environment:
      - HEALTH_CHECK_URL=${HEALTH_CHECK_URL}
      - SLEEP_SECONDS=10
      - RETENTION_DAYS=15
    volumes:
      - /etc/Cloud/EVCC:/source:ro
      - /mnt/fritz-nas/Volume/Backup/EVCC:/destination
    command: >
      sh -c "
      apk add --no-cache zip curl &&
      echo 'Waiting for NAS to wake up...' &&
      sleep $$SLEEP_SECONDS &&
      if ls /destination > /dev/null 2>&1; then
        FILENAME=backup.$(date +%Y_%m_%d).zip &&
        echo 'Removing existing file to prevent stale handles...' &&
        rm -f /destination/$$FILENAME &&
        echo 'Creating new backup archive...' &&
        if zip -r /destination/$$FILENAME /source; then
          echo 'Backup successful. Cleaning up old files...' &&
          find /destination -name 'backup.*.zip' -type f -mtime +$$RETENTION_DAYS -delete &&
          curl -m 10 --retry 5 $$HEALTH_CHECK_URL;
        else
          echo 'Error: Zip failed';
          exit 1;
        fi
      else
        echo 'Error: NAS mount is stale or disconnected';
        exit 1;
      fi
      " 
      
networks:
  proxy:
    external: true
